streamlit
langchain
langchain-core
langchain-community
langchain-text-splitters
faiss-cpu
pypdf
python-docx
pandas
ollama
openpyxl
docx2txt


---------------
faster-whisper 
streamlit-mic-recorder

streamlit-pdf-viewer